*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: #000;
}
.container{
    width: 84%;
    max-width: 1365px;
    margin: 0 auto;
}
button{
    cursor: pointer;
}
header {
    background-image: url('../images/saturday-lotto-header-bg.png');
    background-position: center left 25%;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 780px;
}
.warning-top-bar{
    background: #F1201E;
    text-align: center;
    padding: 4px;
}
.warning-top-bar > p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    display: inline-flex;
    align-items: center;
}
.warning-top-bar > p > img{
    width: 22px;
    height: 22px;
    margin-right: 6px;
}
.header-menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0px;
}
.header-logo > a > img{
    width: 100.763px;
    height: 66px;
    flex-shrink: 0;
    aspect-ratio: 100.76/66.00;
}
.header-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
}
button.login-btn{
    border-radius: 8px;
    border: 0.7px solid #FFF;
    background: linear-gradient(180deg, #F1201E 0%, #F34545 100%);
    box-shadow: 0px 4px 25px 0px rgba(241, 32, 30, 0.35);
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.3px;
    width: 130px;
    height: 45px;
    padding: 7px 33px;
    font-family: "Bebas Neue";
}
button.register-btn{
    border-radius: 8px;
    border: 0.7px solid #FFF;
    background: linear-gradient(180deg, #272727 0%, #000 100%);
    box-shadow: 0px 4px 25px 0px rgba(241, 32, 30, 0.35);
    color: #FFF;
    text-align: center;
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.3px;
    width: 130px;
    height: 45px;
    padding: 7px 33px;
    font-family: "Bebas Neue";
}
.banner-context{
    padding: 100px 0px ;
}
.banner-context > h1{
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 68px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 4px;
    width: 60%;
}
.banner-context > p{
    color: #FFF;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    width: 58%;
}
button.banner-btn{
    border-radius: 8px;
    border: 0.7px solid #FFF;
    background: linear-gradient(180deg, #F1201E 0%, #F34545 100%);
    box-shadow: 0px 4px 25px 0px rgba(241, 32, 30, 0.35);
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 22px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.3px;
    padding: 7px 33px;
    margin: 30px 0px;
}
.timing-section {
    background-image: url('../images/lighting-img.png');
    background-repeat: no-repeat;
    height: 400px;
    padding: 150px 0px 200px 0px;
    width: 100%;
    background-position: 54% 17%;
}
.title-heading > h2 {
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
    padding: 20px 0px;
}
.time-count-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px; 
}
.time-content {
    border-radius: 12px;
    border: 1px solid #FFF;
    background: linear-gradient(180deg, #F60D0B 0%, #F34545 100%);
    box-shadow: 0px 4px 30px 0px rgba(241, 32, 30, 0.35);
    width: 120px;
    height: 120px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.time-content h3 {
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 70px;
    font-style: normal;
    font-weight: 400;
    line-height: 100px;
    margin: 0;
}
.time-content p {
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 1px;
    margin: 0;
    position: relative;
    top: -10px;
}
.colon {
    font-size: 70px;
    font-family: "Bebas Neue";
    color: #FFF;
    font-weight: bold;
    line-height: 100px;
}
.highlight-shadow{
    text-align: center;
}
.about-section{
    padding: 70px 0px 40px 0px;
}
.about-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 30px;
}
.about-content > h2{
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 0.8px;
}
.about-content > p{
    color: #FFF;
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.about-content > p > span{
    color: #F34545;
}
.result-section{
    padding: 0px 0px 80px 0px;
}
.result-title > h2{
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-align: center;
}
.result-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    align-items: center;
    justify-content: center;
    padding-top: 120px;
}
.result-card{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.46);
    background: linear-gradient(180deg, #272727 0%, #0C0C0C 100%);
    text-align: center;
    flex-shrink: 0;
    height: 310px;
    flex-shrink: 0;
}
.result-img {
    position: relative;
}
.result-img > img {
    position: absolute;
    top: -90px;
    transform: translateX(-50%);
    width: 150px;
    height: auto;
}
img.result-img-2 {
    width: 200px;
    height: 150px;
}
img.result-img-3 {
    width: 320px;
    height: 175px;
    flex-shrink: 0;
    aspect-ratio: 66/37;
}
.result-card-content{
    padding: 90px 0px 20px 0px;
}
.result-card-content > h3{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 26px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.result-card-content > p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.lotto-num{
    padding: 30px 0px 0px 0px;
}
.lotto-num > span {
    background: #F1201E;
    box-shadow: 0px 4px 10px 0px rgba(255, 255, 255, 0.56) inset;
    filter: drop-shadow(0px 4px 10px rgba(241, 32, 30, 0.42));
    border-radius: 100px;
    width: 36px;
    display: inline-flex;
    height: 36px;
    padding: 8px;
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 17px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    align-items: center;
    justify-content: center;
}
span.lotto-num-w{
    background-color: #fff !important;
    color: #151515 !important;
}
.time-result{
    font-size: 20px;
    font-weight: 600;
    line-height: 40px;
}
.faq-section{
    padding: 50px 0px;
}
.faq-flex{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    gap: 40px;
}
.faq-img-area > img{
    width: 100%;
    height: auto;
}
.faq-title-part > small{
    color: #F34545;
    font-family: "Bebas Neue";
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 2.5px;
}
.faq-title-part > h2{
    color: #FFF;
    font-family: "Bebas Neue";
    font-size: 55px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 12px;
}
.faq-part > ul{
    list-style: none;
}
.faq-part > ul > li{
    border-bottom: 1px solid rgba(255, 255, 255, 0.50);
    padding: 15px 0px;
}
.faq-part > ul > li:last-child {
    border-bottom: none;
}
.faq-part > ul > li > h3{
    color: #F34545;
    font-family: Poppins;
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.faq-part > ul > li > p{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.review-section {
    padding: 40px 0px 80px 0px;
    overflow: hidden;
}
.review-title > h2 {
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 70px;
    font-weight: 500;
    padding-bottom: 40px;
}
.review-slider-container {
    overflow: hidden;
    width: 100%;
}
.review-slider-flex {
    display: flex;
    transition: transform 0.5s ease-in-out;
    width: 100%; 
}
.review-card {
    flex: 0 0 calc(33.33% - 20px); 
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.46);
    background: linear-gradient(180deg, #272727 0%, #0C0C0C 100%);
    padding: 35px;
    margin: 0 10px;
    box-sizing: border-box; 
}
.review-card > ul > li {
    list-style: none;
    display: inline-flex;
    align-items: center;
}
.review-card > ul > li > img {
    width: 28px;
    margin-right: -6px;
}
.review-card > p {
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-weight: 400;
    padding-top: 5px;
}
.slider-button {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 50px;
}
.button-pre {
    width: 40px;
    height: 4px;
    background: #F60D0B;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button-next {
    width: 40px;
    height: 4px;
    background: #303030;
    border-radius: 12px;
    cursor: pointer;
    transition: background 0.3s ease;
}
.button-pre:hover, .button-next:hover {
    background: #ff0703;
}
@media (max-width: 1024px) {
    .review-card {
        flex: 0 0 calc(50% - 20px); 
    }
}
@media (max-width: 768px) {
    .review-card {
        flex: 0 0 calc(100% - 20px); 
    }
}
.responsibile-section{
    padding: 40px 0px;
}
.game-bg{
    border-radius: 12px;
    border: 1px solid rgba(255, 255, 255, 0.46);
    background: linear-gradient(180deg, #272727 0%, #0C0C0C 100%);
    padding: 50px 40px;
}
.gaming-title > h2{
    color: #FFF;
    text-align: center;
    font-family: "Bebas Neue";
    font-size: 70px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.4px;
    padding-bottom: 30px;
}
.game-flex {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 80px;
    align-items: center;
}
.game-context > h3{
    color: #F34545;
    font-family: Poppins;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 8px;
}
.game-context > p{
    color: #FFF;
    font-family: Poppins;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    padding-bottom: 30px;
}
.game-context > ul {
    list-style: none;
    display: flex;
    gap: 18px;
    align-items: center;
    padding: 12px;
}
.footer-section{
    padding: 40px 0px 20px 0px;
}
.contact-flex{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footer-logo > img{
    width: 150px;
}
h3.footer-title-h3{
    color: #F34545;
    font-family: "Bebas Neue";
    font-size: 30px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    letter-spacing: 1.2px;
    text-transform: uppercase;
}
.useful-links > ul{
    list-style: none;
    padding-top: 15px;
}
.useful-links > ul > li > a{
    color: #FFF;
    font-family: Poppins;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 36px; 
    letter-spacing: 0.2px;
}
.footer-brands > h3{
    padding-bottom: 20px;
}
.footer-brands > ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    list-style: none;
    gap: 0px 8px;
}
.copyright{
    padding: 80px 0px 5px 0px;
}
.copyright > p{
    color: #FFF;
    text-align: center;
    font-family: Poppins;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; 
    letter-spacing: 0.33px;
}